<div class='body'>

    <div class="container">
        <h4 class="section-title">So far so good. Let's talk about hiking. </h4>
        <h5 class="section-subtitle"> we use this info to ... help text we can put here</h5>
        
        <div class="container question">
            <p class="question-title col-lg-2">YOUR GENDER</p>
            <label class="col-lg-2">
                <input type="radio" name="quality"> <span>Male</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="quality"> <span>Female</span>
            </label>
        </div>
         <hr class="line">

        <div class="container question">
            <p class="question-title col-lg-2">YOUR AGE</p>
            <div class="form-group col-lg-1">
                <input type="text" class="form-control" id="usr">
            </div>
            <p class="textbox-label">Years old</p>
        </div>
        <hr class="line">

        <div class="container question">
            <p class="question-title col-lg-2">FREQUENCY</p>
            <h5 class="question-subtitle">How often do you go Hiking?</h5>
            
            <label class="col-lg-2">
                <input type="radio" name="frequency"> <span>More than once a week</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="frequency"> <span>Once a week</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="frequency" > <span>6-12 times a year</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="frequency"> <span>2-5 times a year</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="frequency"> <span>Once a year</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="frequency"> <span>never</span>
            </label>
        </div>
        <hr class="line">

        <div class="container question">
            <p class="question-title col-lg-2">DURATION</p>
            <h5 class="question-subtitle">Typically how long do you hike?</h5>
            <label class="col-lg-2">
                <input type="radio" name="duration"> <span>Less than one hour</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="duration"> <span>Between 1-2 hours</span>
            </label>
              <label class="col-lg-2">
                <input type="radio" name="duration"> <span>Between 3-5 hours</span>
            </label>
            <label class="col-lg-8">
                <input type="radio" name="duration"> <span>More than 5 hours</span>
            </label>
        </div>
        <hr class="line">



    </div>
</div>


